@model IEnumerable<ClinicManagementSystemMVC.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>
    List of Appointments Available<button class="btn btn-primary float-right" data-toggle="modal" data-target=".bs-example-modal-sm">Logout</button>

    <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h6>Logout <i class="fa fa-lock"></i></h6></div>
                <div class="modal-body"><i class="fa fa-question-circle"></i><h6> Are you sure you want to log-off?</h6></div>
                <div class="modal-footer"><a href="http://localhost:62274/Home/Index" class="btn btn-primary btn-block">Logout</a></div>
            </div>
        </div>
    </div>

    <button class="btn btn-danger float-right" data-toggle="modal" data-target=".menudiv">Menu</button>

    <div class="modal bs-example-modal-sm menudiv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h6>Menu <i class="fa fa-lock"></i></h6></div>
                <div class="modal-body"><i class="fa fa-question-circle"></i><h6> Are you sure you want to go to Home Page?</h6></div>
                <div class="modal-footer"><a href="~/UserLogins/Success" class="btn btn-danger btn-block">Menu</a></div>
            </div>
        </div>
    </div>
</h1>

<p>
    <a asp-action="Create">Create New Appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecializationRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
